body {
  margin: 0;

  color: white !important ;
  background-color: #272b30;
}


.register-height{
  height: fit-content;
}

.pointer{
  cursor: pointer;
}

.home{
  background-image: url(assets/paladins.b44d33d6e7ee1ba8.png);
  background-position: center center;
  height: 250px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.game button{
  height: 1.7rem;
}

.game-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.games{
  transition: all .2s;
}
.games:hover{
  scale: 1.1;
}

.color-secondry{
  background-color: rgb(57, 54, 54);
  color: rgba(255, 255, 255);
}
a{
  text-decoration: none;
  
}